html, body{
  height: 90%;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

html, body, div {
  scroll-behavior: smooth;
}

body {
  background-image: url('background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table {
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
  text-align:center;
  width: 70%;

}

td {
  width:33%;
  height:50%;
  padding:4px;
}

img {
  width: 100%;
}

button {
  border:.2vw solid black;
  border-radius: 1vw;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  outline:none;
  background-color: white;
  font-size:1.5vw;
}

button:hover {
  background-color: black;
  color: white;
}


@font-face {
  font-family: momcake;
  src: url("momcake.otf");
}

* {
  font-family: momcake;
}

.info {
  /* padding-top: 2%; */
  padding-right: 15%;
  padding-left:0%;
  /* padding-bottom: 1%; */
  
}





.column {
  float: left;
  text-align:center;
  overflow: hidden;
  height:100%;
  width: 30%;
  border:.2vw solid black;
  border-radius: 1vw;
  background:white;
}

.separate {
  float: left;
  text-align:center;
  overflow: hidden;
  height:100%;
  width: 2%;
}


.row {
  height: 55%;
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
  text-align:center;
  width: 70%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3%;

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  max-width: 42%;
  height: auto;
  overflow: scroll;
  border:.2vw solid black;
  border-radius: 8px;
  max-height: 80%;
  overflow-x: hidden; /* Hide horizontal scrollbar */

}


/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border:.2vw solid black;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.close:hover,
.close:focus {
  background-color: black;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 1.2vw;
}

/* Track */
::-webkit-scrollbar-track {
 border:.2vw solid black;
  border-radius: 8px;
  display: none;
  margin: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
  border:.2vw solid white;
}
